<div class="product-item shadow rounded bg-white p-3 text-center">
    <div class="picture">
        <img src="@Model.DefaultPictureModel.ImageUrl" alt="@Model.Name" />
    </div>
    <h3 class="product-title mt-2">@Model.Name</h3>
    <div class="prices text-accent">@Model.ProductPrice.OldPrice</div>
</div>